* {
    font-family: 'Public Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

// TODO: Highlight supervisor anchor links when clicked?

.employee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.supervisor {
        width: 100%;
        margin-top: 3rem;
    }

    .box {
        margin: 1rem 0.5rem 0;
    }

    &-box {
        transition: all 0.3s ease;
        position: relative;

        &:focus {
            box-shadow: 0 0 0.5rem 0 red;
        }

        &.leader {
            transform: scale(1.375);
        }

        &.supervisor {
            transform: scale(1.125);
        }

        &.highlighted {
            box-shadow: 0 .5rem 1rem 0 rgba(#3273dc, 0.5),
            0 0 0.25em 0.125rem rgba(#3273dc, 0.5);
        }

        &-name {
            line-height: 100%;
        }

        &-title {
            line-height: 100%;
            margin-top: 0.25rem;
        }

        &-reports-to {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0.375rem;
            left: 0.25rem;
            right: 0.75rem;
            font-size: 0.5rem;

            &-text {
                margin-left: 0.125rem;
            }
        }
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
